:root {
  --main-font-size: 1rem;
  --main-color: antiquewhite;
  --background-color: #000;
  --small-font-weight: 300;
  --big-font-weight: 500;

  /* Safe area variables */
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}
