.popup_about-me__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup_about-me__text p {
  font-weight: var(--small-font-weight);
  font-size: var(--main-font-size);
  letter-spacing: 3px;
  text-align: justify;
}