body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--background-color);
  min-inline-size: 300px;
  inline-size: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  padding: var(--sat) var(--sar) var(--sab) var(--sal);
  height: 100%;
  position: relative;
}



.body_no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

