body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-block-size: 100vh;
  min-block-size: 100dvh;
  padding: var(--sat) var(--sar) var(--sab) var(--sal);
  color: var(--main-color);
  background-color: var(--background-color);
  min-inline-size: 300px;
  inline-size: 100%;
  justify-content: center;
}