.contact-form__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form__field {
  display: flex;
}

.contact-form__field:first-child {
  padding-top: 10px;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__select {
  flex-grow: 1;
  box-sizing: border-box;
  font-family: inherit;
  text-transform: uppercase;
}

.contact-form__input:focus-visible,
.contact-form__textarea:focus-visible,
.contact-form__select:focus-visible {
  outline: 1px dashed antiquewhite;
  outline-offset: 1px;
}

.contact-form__textarea {
  height: 80px;
  vertical-align: top;
}

.contact-form__button {
  margin: 2px;
  border: 1px solid antiquewhite;
  border-radius: 2px;
  padding: 2px 5px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  background-color: transparent;
}

.contact-form__button:focus {
  outline: none;
}

.contact-form__button:focus-visible {
  outline: 1px dashed antiquewhite;
  outline-offset: 1px;
}

.contact-form__button:hover {
  color: antiquewhite;
  background-color: gray;
}

.contact-form__button:active {
  color: #000000;
  
}
