.main {
  position: relative;
  inline-size: 100%;
  flex: 1;
  transition: all 0.3s ease;
  text-align: center;
  text-transform: uppercase;
}

.main__header {
  font-family: var(--header-font-family);
}

.main__description {
  font-family: var(--main-font-family);
}

.main__picture {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.main__image {
  block-size: 100%;
  object-fit: cover; 
  object-position: center;
}

.main__icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.main__icon {
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  transform-origin: center;
  animation: pulse 7s ease-in-out infinite;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.lang-switcher__flag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: iconCycleTwoIcons 7s infinite;
}

.lang-switcher__flag:nth-child(2) {
  animation-delay: 3.5s;
}

.menu-button {
  background-color: transparent;
}

.theme-switcher {
  background-color: transparent;
}

.theme-switcher__icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: iconCycleTwoIcons 7s infinite;
}

.theme-switcher__icon:nth-child(2) {
  animation-delay: 3.5s;
}