.main {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  block-size: 100vh;
  block-size: 100dvh; 
  inline-size: 100vw;
  inline-size: 100dvw;
}

.main__header {
  font-family: 'Kaushan';
  font-weight: var(--small-font-weight);
  text-align: center;
  text-transform: uppercase;
  word-break: keep-all;
  transition: all 0.3s ease;
}

.main__description {
  font-family: 'Witcher';
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.main__picture {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.main__image {
    width: 100%;
    height: auto;
    object-fit: contain; 
    object-position: center top;
}

.main__icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.main__icon {
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
  transform-origin: center;
  animation: pulse 7s ease-in-out infinite;
  cursor: pointer;
  aspect-ratio: 1 / 1;
}

.lang-switcher__flag {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s linear;
}

.lang-switcher__flag.active {
  opacity: 1;
}

.menu-button {
  background-color: transparent;
}

.theme-switcher__icon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s linear;
}

.theme-switcher__icon.active {
  opacity: 1;
}

.theme-switcher {
  background-color: transparent;
}



