
@media (orientation: portrait) and (max-width: 1024px) {
  .main {
    padding: 
      calc(clamp(0.5rem, -0.571rem + 5.357dvw, 2rem) + var(--sat))
      calc(clamp(0.5rem, -0.571rem + 5.357dvw, 2rem) + var(--sar))
      calc(clamp(0.5rem, -0.571rem + 5.357dvw, 2rem) + var(--sab))
      calc(clamp(0.5rem, -0.571rem + 5.357dvw, 2rem) + var(--sal));
  }

  .main__header {
    font-size: clamp(0.8rem, 0.5rem + 4.5dvw, 8rem);
    letter-spacing: clamp(0.15rem, 0.0625rem + 0.6dvw, 0.75rem);
  }
  
  .main__description {
    font-size: clamp(0.4375rem, 0.125rem + 2dvw, 1.14rem);
    letter-spacing: clamp(0.1rem, 0.05rem + 0.35dvw, 1.8rem);
  }

  .main__icons {
    right: clamp(1.5625rem, 0.223rem + 6.696dvw, 3.4375rem);
    top: clamp(3.75rem, 1.071rem + 13.393dvw, calc(7.5rem + 40px));
    gap: clamp(1rem, -1.2857rem + 7.1429dvw, 3rem);
  }

  .main__icon {
    inline-size: clamp(1.875rem, 0.625rem + 5.3571dvw, 5rem);
    block-size: clamp(1.875rem, 0.625rem + 5.3571dvw, 5rem);
  }

  .contacts-button {
    inline-size: clamp(1.875rem, 0.625rem + 5.3571dvw, 5rem);
    block-size: clamp(1.875rem, 0.625rem + 5.3571dvw, 5rem);
  }

}



@media (min-width: 1025px) and (orientation: portrait) {
  .main {
    padding: clamp(2rem, 2rem + 1dvw, 5rem);
  }

  .main__header {
    font-size: clamp(3rem, 3rem + 3dvw, 8rem);
  }

  .main__description {
    font-size: clamp(0.875rem, 0.875rem + 0.5dvw, 2rem);
    letter-spacing: clamp(0.5rem, 0.5rem + 0.3dvw, 1.5rem);
  }

  .main__icons {
    right: clamp(3rem, 3rem + 2dvw, 8rem);
    gap: clamp(2rem, 2rem + 1dvw, 4rem);
  }
  
  .main__icon {
    inline-size: clamp(3rem, 3rem + 2dvw, 8rem);
    block-size: clamp(3rem, 3rem + 2dvw, 8rem);
  }

  .contacts-button {
    inline-size: clamp(3rem, 3rem + 2dvw, 8rem);
    block-size: clamp(3rem, 3rem + 2dvw, 8rem);
  }
}