.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.check-box__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-transform: uppercase;
}

.description-price__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.description-price__list-label {
  width: 120px;
  text-align: left;
  text-transform: uppercase;
}

.description-price__list-item {
  gap: 16px;
}

.description-price__list input[type="text"] {
  flex-grow: 1;
  text-transform: uppercase;
  word-wrap: break-word;
  resize: vertical;
}