.prices-form__fieldset {
  border: none;
}

.prices-form__legend {
  font-size: var(--header-font-size, 30px);
  font-family: var(--main-font-family);
}

.training-types {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-transform: uppercase;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form-details__label {
  width: 120px;
  text-align: left;
  text-transform: uppercase;
}

.form-details__input {
  inline-size: 100%;
  font-family: 'Witcher';
  color: var(--main-color);
  justify-content: stretch;
  background-color: transparent;
}

.form-details__input_textarea {
  line-height: 1.4;
  white-space: pre-wrap; 
  word-wrap: break-word; 
}

.training-types__label {
  position: relative;
  cursor: pointer;
}

.training-types__label::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(../images/cross-swords.png);
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.training-types__radio:checked + .training-types__label::before {
  opacity: 1;
  filter: none;
}

.training-types__radio:not(:checked) + .training-types__label::before {
  opacity: 0.6;
  filter: blur(1px) brightness(0.8);
}



