:root {
  --main-font-size: 1rem;
  --header-font-size: 2rem;
  --main-color: antiquewhite;
  --background-color: #000;
  --small-font-weight: 300;
  --big-font-weight: 500;
  --size-footer-img: 3.75rem;
  --main-font-family: 'Witcher';
  --header-font-family: 'Kaushan';

  /* Safe area variables */
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}

/* Светлая тема как класс */
.theme-light {
  --main-color: white;
  --background-color: #fff;
}

/* Стили для светлой темы */
@media (orientation: portrait) {
.theme-light .main {
  background-image: url('../images/light-theme-portrait.jpg');
  background-size: cover;
}
}

@media (orientation: landscape) {
.theme-light .main {
  background-image: url('../images/light-theme-landscape.jpg');
  background-size: contain;
}
}


.theme-light .main__header {
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}

/* Иконки темы */
.theme-switcher__icon {
  transition: opacity 0.3s ease;
}

.theme-switcher__icon.active {
  opacity: 1;
}

.theme-switcher__icon:not(.active) {
  opacity: 0;
}